<div id="d_resend_confirmation">
<!--<h2>Resend confirmation instructions</h2>-->
<h2>重新发送确认信息</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label "请输入注册的电子邮箱(e-mail)" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "发送确认邮件" %></p>
<% end %>

<%= render :partial => "users/shared/links" %>
</div>