<div class="pagetitle"><h1>Redeem your reward</h1></div>
<div class="column grid_10">
  <div class="form">
    <%= form_for @redemption, :url => {:action => "create"} do |f| %>
      <%#= f.hidden_field :reward_id, {:value => @reward.id} %>
      <div class="header">Your reward</div>
      <div class="rewardinfo">
        <div class="rewardpic" style="display: table-cell;"><%= image_tag @reward.image.url(:small) if @reward.image %></div>
        <div class="rewarddetail" style="display: table-cell; vertical-align: top;padding-left: 20px;font-size: 10pt;">
          <b><%= @reward.partner.business_name %></b>
          <br/>
          <i>For <%= @reward.redeem_points %> points</i>
          <br/>
          <span style="font-size: 9pt; font-weight: normal; color: #8F8F8F">in <%= "#{@reward.city}, #{@reward.state}" %></span>
          <br/>
          <span style="font-size: 9pt; font-weight: normal; color: #8F8F8F">
            <%= @reward.street %>
            <br/>
            <%= @reward.phone %>
          </span>
          <br/>
          <br/>
          <%= @reward.name %>
          <br/>
          <br/>
          <b>More information:</b>
          <br/>
          <br/>
          <div style="overflow: auto; height: 90px; width: 400px; font-size: 8pt; border: 1px solid #f1f1f1"><%= @reward.information %></div>
          <br/>
          <br/>
          <b>Valid:</b>
          <%= @reward.valid_term %>
          <br/>
          <br/>
        </div>
      </div>

      <div class="header">Your information</div>
      <div class="formrow">
        <div class="formlabel_wide">Your name:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :name %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Your address:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :address %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Your city:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :city %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Your state:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :state %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Your zipcode:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :zipcode %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Your phone number:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :phone %></div>
      </div>

      <p><%= f.submit "REDEEM" %></p>
    <% end %>
  </div>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>
