<div class="row">
  <div class="column grid_10">
    <h1>Edit <%= @partner.type %></h1>
    <p><a href=<%="/admin/partners/list?type=#{@partner.type}"%>>&laquo; Back to <%= @partner.type %> List</a></p>
    <%= form_for @partner, :url => {:action => "update"}, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label "Description" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "website" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "Country" %><br/>
        <%= raw f.country_select :country, :only => [:china], :update => "partner_state", :name => "partner[country]"  %>
      </p>
      <p>
        <%= f.label "State" %><br/>
        <%= raw f.state_select :region, :country => :china, :update => "partner_city", :name => "partner[region]"   %>
      </p>
      <p>
        <%= f.label "City" %><br/>
        <%= raw f.capital_select :city, :country => :china, :name => "partner[city]" %>
      </p>
      <p>
        <%= f.text_field :type, :value => @partner.type, :type => "hidden" %>
      </p>
      <div class="PaperclipFiles">
          <% if @partner.image.nil? %>
            <%= f.fields_for :image, @partner.build_image do |image_form| %>
              <p>
                <%= image_form.label "Add A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% else %>
            <p><%= image_tag @partner.image.url(:small) %></p>
            <%= f.fields_for :image do |image_form| %>
              <p>
                <%= image_form.label "Change A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% end %>
      </div>
      <p><%= f.submit "Update" %></p>
    <% end %>
  </div>
</div>