<div class="row">
  <div class="column grid_10">
    <h1>Edit <%= @partner.name %></h1>
    <p><a href=<%="/admin/partners"%>>&laquo; Back to Partner List</a></p>
    <%= form_for @partner, :url => {:action => "update"}, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Category" %><br/>
        <%= collection_select :partner, :tag_id, Tag.of_kind("Partner"), :id, :name, {:include_blank => 'Please Select'}, :prompt => true %>
      </p>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label "Description" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "website" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "Country" %><br/>
        <%= raw f.country_select :country, :only => [:china], :update => "partner_state", :name => "partner[country]"  %>
      </p>
      <p>
        <%= f.label "State" %><br/>
        <%= raw f.state_select :region, :country => :china, :update => "partner_city", :name => "partner[region]"   %>
      </p>
      <p>
        <%= f.label "City" %><br/>
        <%= raw f.capital_select :city, :country => :china, :name => "partner[city]" %>
      </p>
      <p>
        <%= f.label "Street" %><br/>
        <%= f.text_field :street %>
      </p>
      <div class="PaperclipFiles">
          <% if @partner.image.nil? %>
            <%= f.fields_for :image, @partner.build_image do |image_form| %>
              <p>
                <%= image_form.label "Add A Photo" %><br/>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% else %>
            <p><%= image_tag @partner.image.url(:small) %></p>
            <%= f.fields_for :image do |image_form| %>
              <p>
                <%= image_form.label "Change A Photo" %><br/>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% end %>
      </div>
      <p><%= f.submit "Update" %></p>
    <% end %>
  </div>
</div>