<div class="row">
  <div class="column grid_10">
    <h1>New Partner</h1>
    <p><a href="/admin/partners">&laquo; Back to Partner List</a></p>
    <%= form_for @partner, :url => {:action => "create"}, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Category" %><br/>
        <%= collection_select :partner, :tag_id, Tag.of_kind("Partner"), :id, :name, {:include_blank => 'Please Select'}, :prompt => true %>
      </p>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label "Description" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "website" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "Country" %><br/>
        <%= raw f.country_select :country, :only => [:china], :update => "partner_state", :name => "partner[country]"  %>
      </p>
      <p>
        <%= f.label "State" %><br/>
        <%= raw f.state_select :region, :country => :china, :update => "partner_city", :name => "partner[region]"   %>
      </p>
      <p>
        <%= f.label "City" %><br/>
        <%= raw f.capital_select :city, :country => :china, :name => "partner[city]" %>
      </p>
      <p>
        <%= f.label "Street" %><br/>
        <%= f.text_field :street %>
      </p>
      <div class="newPaperclipFiles">
        <%= f.fields_for :image do |builder| %>
          <p>
            <%= builder.label "Add A Photo" %><br/>
            <%= builder.file_field :upload %>
          </p>
        <% end %>
      </div>
      <p><%= f.submit "Create" %></p>
    <% end %>
  </div>
  <%# render :partial => 'crud_right' %>
</div>