<div class="row">
  <div class="column grid_10">
    <h1>Edit Reward</h1>
    <p><%= link_to "View on this site", {:controller => "/rewards", :action => :show, :id => @reward.id}, :target => "_blank"  %></p>
    <p><a href="/admin/rewards">&laquo; Back to Reward List</a></p>
    <%= form_for @reward, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Partner" %><br/>
        <%= collection_select :reward, :partner_id, Partner.all, :id, :business_name, {:include_blank => 'Please Select'}, :prompt => true %>
      </p>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label "Information" %><br/>
        <%= f.text_area :information, :id => "kindeditor", :size => "80x20" %>
      </p>
      <p>
        <%= f.label "Reward Tags" %><br/>
        <%= f.text_field :tag_tokens %>
      </p>
      <p>
        <%= f.label "redeem point" %><br/>
        <%= f.text_field :redeem_points %>
      </p>
      <p>
        <%= f.label "save money" %><br/>
        <%= f.text_field :save_money %>
      </p>
      <p>
        <%= f.label "Valid Term" %><br/>
        <%= f.text_area :valid_term %>
      </p>
      <p>
        <%= f.label "Disclaimer" %><br/>
        <%= f.text_area :disclaimer %>
      </p>
      <p>
        <%= f.label "Country" %><br/>
        <%= raw f.country_select :country, :only => [:china], :update => "reward_state", :name => "reward[country]"  %>
      </p>
      <p>
        <%= f.label "State" %><br/>
        <%= raw f.state_select :state, :country => :china, :update => "reward_city", :name => "reward[state]"   %>
      </p>
      <p>
        <%= f.label "City" %><br/>
        <%= raw f.capital_select :city, :country => :china, :name => "reward[city]" %>
      </p>
      <p>
        <%= f.label "Street" %><br/>
        <%= f.text_field :street %>
      </p>
      <p>
        <%= f.label "zip code" %><br/>
        <%= f.text_field :zipcode %>
      </p>
      <div class="Upload">
          <% if @reward.image.nil? %>
            <%= f.fields_for :image, @reward.build_image do |image_form| %>
              <p>
                <%= image_form.label "Add A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% else %>
            <p><%= image_tag @reward.image.url(:small) %></p>
            <%= f.fields_for :image do |image_form| %>
              <p>
                <%= image_form.label "Change A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
      <% end %>
      </div>
      <p><%= f.submit %></p>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Reward", new_admin_reward_path %>
    <h3>Search Reward</h3>
    <%= form_for @search,:url => admin_rewards_path, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :name_contains %>
		<%= f.text_field :name_contains %>
		<%= f.submit 'Go' %>
	  </p>
	<% end %>
    <h3>View Reward By Category</h3>
  </div>
</div>