<div class="row">
  <div class="column grid_10">
    <h1>All Rewards <%= @view_by ? "of #{@view_by}" : "List" %></h1>
    <p><%= paginate @rewards %></p>
    <% if params[:view].nil? %>
      <table class="list">
        <tr>
          <th>Partner</th>
          <th>RewardName</th>
          <th>Address</th>
          <th>SaveMoney</th>
          <th>RedeemCount</th>
          <th>Type</th>
          <th colspan="2">Action</th>
        </tr>
        <% for reward in @rewards %>
          <tr>
            <td><%= reward.partner.business_name %></td>
            <td><%= link_to reward.name.html_safe, edit_admin_reward_path(reward) %></td>
            <td><%= [reward.state, reward.city, reward.street].join(",") %></td>
            <!--<td><%#= [reward.street, t(reward.city, :scope => :cities), t(reward.state, :scope => :states)].join(",") %></td>-->
            <td><%= reward.save_money %></td>
            <td><%= reward.redeem_count %></td>
            <td><%= reward.tags.map {|t| t.name}.join(',') %></td>
            <td><%= link_to "View", reward_path(reward), :target =>"_blank"  %></td>
            <td><%= link_to 'Delete', admin_reward_path(reward), :confirm => 'Are you sure?', :method => :delete  %></td>
          </tr>
        <% end %>
      </table>
    <% elsif params[:view] == "grid" %>
      <div class="grid">
        <% for reward in @rewards %>
          <div class="feat">
            <div class="screenshot"><%= link_to image_tag("/assets/episodes/stills/dd.png", :size => "200x125"), reward %></div>
            <div class="title">
              #<%= reward.id %>
              <%= link_to reward.name, rewards_path %>
            </div>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Reward", new_admin_reward_path %>
    <h3>Search Reward</h3>
    <%= form_for @search,:url => admin_rewards_path, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :name_contains %>
		<%= f.text_field :name_contains %>
      </p>
      <p><%= f.submit 'Go' %></p>
	<% end %>
    <h3>View Reward By Category</h3>
	<%= render :partial => 'subnav' %>
  </div>
</div>