<div class="row">
  <div class="column grid_10">
    <h1>New Reward</h1>
    <p><a href="/admin/rewards">&laquo; Back to Reward List</a></p>
    <%= form_for @reward, :url => {:action => "create"}, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Category" %><br/>
        <%= collection_select :reward, :category_id, Category.rewards, :id, :name, {:include_blank => 'Please Select'}, :prompt => true %>
      </p>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label "Description" %><br/>
        <%= f.text_area :description, :id => "kindeditor", :size => "80x20" %>
      </p>
      <p>
        <%= f.label "redeem point" %><br/>
        <%= f.text_field :redeem_points %>
      </p>
      <p>
        <%= f.label "save money" %><br/>
        <%= f.text_field :save_money %>
      </p>
      <div class="Upload">
        <%= f.fields_for :image do |image_form| %>
          <p><%= image_form.file_field :upload %></p>
        <% end %>
      </div>
      <p><%= f.submit %></p>
    <% end %>
  </div>
  <%# render :partial => 'crud_right' %>
</div>