<div id="d_signin">
<!--<div class="close" onclick="javascript:$('#dialog-form').remove();">x</div>-->
 <div class="header">
   <div class="text">一键登录:</div>
   <div class="onestep">
     <%= link_to image_tag('douban.png', :alt=>'douban'), user_omniauth_authorize_path(:douban)%>
     <%= link_to image_tag('tsina.png', :alt=>'sina weibo'), user_omniauth_authorize_path(:tsina)%>
   </div>
 </div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="title"> 或者在这里输入您LifeDNA的帐户信息： </div>
  <div>
    <%= f.label "邮箱:*" %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label "密码:*" %>
    <%= f.password_field :password %>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div>
    <%= f.label "记住我的登录" %><%= f.check_box :remember_me %>
  </div>
  <% end -%>

  <p><%= f.submit "登录" %></p>
<% end %>

<%= render :partial => "users/shared/links" %>
</div>