<div class="reward_grid" id=<%= "reward_#{reward.id}_grid" %>>
  <h3><%= link_to reward.name, :action => 'show', :id => reward.id %></h3>
  <p>
    <% if reward.partner %>
      <%= image_tag reward.partner.image.url(:small) if reward.partner.image %>
    <% else %>
      <%= image_tag reward.image.url(:small) if reward.image %>
    <% end %>
  </p>
  <% if user_signed_in? %>
    <div id=<%= "reward_#{reward.id}_wishlink" %>><%= link_to current_user.wishes.include?(reward) ? 'Remove from wishlist' : 'Add to wishlist', current_user.wishes.include?(reward) ? remove_wish_reward_path(reward) : add_wish_reward_path(reward), :remote => true %></div>

    <% if current_user.earned_points > reward.redeem_points %>
      <%= link_to 'Get it', new_redemption_path(reward.id) if user_signed_in? %><br/>
    <% else %>
      more points <br/>
    <% end %>
  <% end %>
  <p><%= raw truncate reward.description, :length => 30, :separator => ' ' %></p>
  <p>For <%= reward.redeem_points %> points</p>
</div>