<div id="center" style="padding-top: 0;">
  <% if current_user %>
    <div class="homerighttext">积分: <b><%= current_user.earned_points %></b>&nbsp;&nbsp;&nbsp;节省: <b><%= number_to_currency(current_user.earned_points.to_f*0.1) %></b></div>
  <% end %>
<div id="rewards_home_highlights" class="homeblock">
  <div id="rewards_home_highlights_1" highlightbanner="true" style="display: block;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">捐赠做好事</div><br/>
      <div class="subtext">把你的积分捐给非盈利组织，然后点击作了捐赠事绩</div>
    </div>
    <div class="image" style="text-align: right;width: 400px"><%= image_tag "/images/rewards_highlights/banner_donations.png", :height =>300 %></div>
  </div>
  <div id="rewards_home_highlights_2" highlightbanner="true" style="display: none;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">摇滚与10美元的iTunes礼品卡</div><br/>
      <div class="subtext">得到你所需要的！唱，舞蹈，和findnewmusic，为5000点。</div>
    </div>
    <div class="image" style="text-align: right;width: 500px"><%= image_tag "/images/rewards_highlights/banner_itunes.png", :height =>300 %></div>
  </div>
  <div id="rewards_home_highlights_3" highlightbanner="true" style="display: none;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">获取10美元的Gaiam礼品卡中心</div><br/>
      <div class="subtext">找到你的家！瑜伽用品！chooseorganic，在5000点。</div>
    </div>
    <div class="image" style="text-align: right;width: 500px"><%= image_tag "/images/rewards_highlights/banner_gaiam.png", :height =>300 %></div>
  </div>
  <div id="rewards_home_highlights_4" highlightbanner="true" style="display: none;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">惊喜的家庭与10美元的玩具反斗城礼品卡</div><br/>
      <div class="subtext">playwithyourkid发现一个新的途径，为5000点。</div>
    </div>
    <div class="image" style="text-align: right;width: 500px"><%= image_tag "/images/rewards_highlights/banner_toysrus.png", :height =>300 %></div>
  </div>
  <div id="rewards_home_highlights_5" highlightbanner="true" style="display: none;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">现在购买5元或10元易趣礼品Cerficiate</div><br/>
      <div class="subtext">探索一切从时装到小工具，只需1800点开始。</div>
    </div>
    <div class="image" style="text-align: right;width: 500px"><%= image_tag "/images/rewards_highlights/banner_ebay.png", :height =>300 %></div>
  </div>
  <div id="rewards_home_highlights_6" highlightbanner="true" style="display: none;">
    <div class="textarea" style="width: 420px;">
      <div class="bigtext">以一个突破10美元的星巴克礼品卡</div><br/>
      <div class="subtext">主张和平的时刻，你活该，为5000点。</div>
    </div>
    <div class="image" style="text-align: right;width: 500px"><%= image_tag "/images/rewards_highlights/banner_starbucks.png", :height =>300 %></div>
  </div>
</div>
<div class="homeblockcolumns">
  <div class="column1" style="font-size: 16px;">
    将我的积分用在...
    <br/>
    <br/>
    <% Tag.of_kind("Reward").each do |type| %>
      <div class="item" style="font-size: 12px;"><%= type.name %></div>
    <% end %>
  </div>
  <div class="column2">
    <div class="rightbarsection"  style="margin: 0px; border: 0px; padding-top: 0px">
      <div class="title">查找您附近的奖励</div>
      <div class="subtext">告诉我们你的城市，省份，地址或邮编，开始寻找你附近的奖励！</div>
      <br/>
      <br/>
      <div class="inputsubmit"></div>
    </div>
  </div>
  <div class="column3">
    <div class="rightbarsection"  style="margin: 0px; border: 0px; padding-top: 0px">
      <div class="title">搜索奖励</div>
      <div class="subtext">寻找东西吗？输入一个活动或一个品牌。</div>
      <br/>
      <br/>
      <div class="inputsubmit"></div>
    </div>
  </div>
</div>
</div>
<script>
  iBannerIndex = 2;
  iBannderMax = 6;
  function rotateBanner(number) {
    $(".[highlightbanner|=true]").hide();
    $("#rewards_home_highlights_" + iBannerIndex).fadeIn("slow");
    iBannerIndex = iBannerIndex + 1;
    if (iBannerIndex > iBannderMax) {
        iBannerIndex = 1;
    }
    setTimeout("rotateBanner(iBannerIndex)", 6000);
  }
  $(document.body).ready(function(){
    setTimeout("rotateBanner(iBannerIndex)", 6000);
  });
</script>

