<% tableize @rewards,
            :name => 'rewards',
            #:header => 'Listing Rewards',
            :cols => 5,
            :generate_css => 'true' do |reward| %>

    <h3><%= link_to reward.name, :action => 'show', :id => reward.id %></h3>
    <p>
      <% if reward.partner %>
        <%= image_tag reward.partner.image.url(:small) if reward.partner.image %>
      <% else %>
        <%= image_tag reward.image.url(:small) if reward.image %>
      <% end %>
    </p>
    <p><%= raw truncate reward.description, :length => 30, :separator => ' ' %></p>
    <%= link_to 'detail', :action => 'show', :id => reward.id %>

<% end %>
