<div class="pagetitle"><h1>Reward yourself and others!</h1></div>
<div class="homerighttext">Reward points: <b><%= 10 %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Savings: <b>$<%= 1.0 %></b></div>
<div id="rewards_home_enteraddress" class="homeblock">
  <div id="rewards_home_highlights_1" highlightbanner="true" style="display: block;">
    <div class="textarea" style="width: 500px;">
      <div class="bigtext">Search for rewards</div><br/>
      <%= form_for @search, :url => {:action => "local"} do |f| %>
        <%= f.hidden_field :partner_tag_name_starts_with, {:value => 'Local'} %>
        <div class="subtext">Enter your address, city and state or zip code: </div><br/>
        <%= f.text_field :partner_city_or_partner_street_or_partner_zip_code_contains %>
        <%= f.submit "Search" %>
      <% end %>
      <div class="subtext"><br/><br/>Browse thousands of rewards in your area with just one click. Redeeming a reward is easy. Just click Get It on any reward, print off your certificate and visit that local business any time.</div>
    </div>
  </div>
</div>
<div class="homeblockcolumns">
  <div class="column1">
    Use my points to...
    <br/>
    <br/>
    <ul>
      <% Tag.of_kind("Reward").each do |type| %>
        <li><%= type.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="column2">
    <div class="rightbarsection"  style="margin: 0px; border: 0px; padding-top: 0px">
      <div class="title">Find rewards near you</div>
      <div class="subtext">Tell us your city, state, address or zip code to start finding rewards near you!</div>
      <br/>
      <br/>
      <div class="inputsubmit"></div>
    </div>
  </div>
  <div class="column3">
    <div class="rightbarsection"  style="margin: 0px; border: 0px; padding-top: 0px">
      <div class="title">Search for a reward</div>
      <div class="subtext">Looking for something? Enter an activity or a brand.</div>
      <br/>
      <br/>
      <div class="inputsubmit"></div>
    </div>
  </div>
</div>

