  <div style="display: table-cell;">
    <i>FOR YOUR RECORDS:</i>
    <br/>
    <b>MERCHANT COUPON:</b><%= @reward.partner.business_name %>
    <br/>
    <b>PRINT DATE:</b><%= Time.now.strftime("%m/%d/%Y") %>
    <br/>
    <b>VALID:</b><%= @reward.valid_term %>
    <br/>
    <b>ADDRESS:</b><%= @reward.street %>
    <br/>
    <b>CITY:</b><%= @reward.city %>
    <br/>
    <b>STATE:</b><%= @reward.state %>
    <br/>
    <b>PHONE:</b><%= @reward.phone %>
     <br/>
    <b>MORE INFORMATION:</b>
    <br/>
    <br/>
    <hr width="80%">
    <br/>
    <br/>
    <img src="/images/im_logo_full.png">
  </div>
  <div style="display: table-cell;">
						<b>Mercury Bar</b><br><div class="print-mapcanvas" id="map_canvas">
								</div><table width="100%">
							<tbody><tr valign="top">


							</tr>
							<tr valign="top">
								<td style="font-size: 9pt">
									<br>
									<b>How to use this coupon:</b><br>
									<ul>
										<li>Be sure to visit the location listed on the coupon since some locations may not participate.</li>
										<li>Present your coupon to the wait person or cashier upon ordering or making your purchase.</li>
										<li>Unless otherwise noted, the offer cannot be combined with any other discount, award programs/offers, or with daily discount menu specials.</li>
										<li>Not valid on major holidays. Read the offer carefully for additional date and time restrictions.</li>
										<li>Limit one coupon per visit. See Help-&gt;Rules of Use for full details at http://www.entertainment.com</li>
										<li>For customer support or redemption issues, <a href="http://www.dailyfeats.com/corp/rewardshelp" target="_new">click here</a></li>
									</ul>
								</td>
							</tr>
						</tbody></table>
  </div>