<h1><%= @reward.name %> </h1>
<p>
  <% if @reward.partner %>
    <%= image_tag @reward.partner.image.url(:small) if @reward.partner.image %>
  <% else %>
    <%= image_tag @reward.image.url(:small) if @reward.image %>
  <% end %>
</p>
<p>Description<br/><%= @reward.description.html_safe %></p>
<p>Redeem Points<br/><%= @reward.redeem_points %></p>
<p>Save Money<br/>$ <%= @reward.save_money %></p>