<div class="row">
  <div class="column grid_10">
    <h1>All Contents <%= @view_by ? "of #{@view_by}" : "List" %></h1>
      <table class="list">
        <tr>
          <th>Title</th>
          <th>Permalink</th>
          <th>Type</th>
          <th colspan="2">Action</th>
        </tr>
        <% for content in @contents %>
          <tr>
            <td><%= link_to content.title, edit_admin_content_path(content) %></td>
            <!--<td><%#= content.created_at.strftime('%m/%d/%y') %></td>-->
            <td><%= content.permalink %></td>
            <td><%= content.category.name %></td>
            <td><%#= link_to "View", {:controller=>"contents", :action=>"show", :permalink=>content.permalink}, :target =>"_blank"  %></td>
            <td><%= link_to 'Delete', admin_content_path(content.id), :confirm => 'Are you sure?', :method => :delete  %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Content", new_admin_content_path %>
    <h3>Search Partner</h3>
    <%= form_tag search_path, :method=>'get' do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Go' %>
		</p>
	<% end %>
    <h3>View By Category</h3>
    <%= render :partial => 'subnav' %>
  </div>
</div>
