%ul.thumbnails
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/classicnovel.png"
        -#%figcaption
          -#%i 5分 x 2
      %div.sponsor
        %span 极光户外
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 读小说"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 5分 x 2
    %h5 读小说
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/findnewmusic.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 去剧院现场"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 去剧院现场
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/readabook.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 读一本书"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 读一本书
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/sunlight.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 发现新音乐"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 享受阳光
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/findnewmusic.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 与家人一起晚餐"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 与家人一起晚餐
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/classicnovel.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor
        %span 极光户外
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 阅读经典"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 阅读经典
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/classicnovel.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor
        %span 极光户外
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 阅读经典"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 阅读经典
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/sunlight.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 发现新音乐"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 享受阳光
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/classicnovel.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor
        %span 极光户外
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 阅读经典"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 阅读经典
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/classicnovel.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor
        %span 极光户外
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 阅读经典"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 阅读经典
  %li.span2
    .thumbnail.box-shadow
      %figure
        = image_tag "feats/sunlight.png"
        -#%figcaption
          -#%i 2分
      %div.sponsor_blank
      .caption
        %a.btn.example{:href=>"#", :feat_id=>1, :title => "做了 - 发现新音乐"}
          = image_tag("icons/check_16x13.png")
          做了
    %i 2分
    %h5 享受阳光