<aside>
  <% unless user_signed_in? %>
    <div class="row">
      <div class="column grid_4 rightbarsection">
        <div class="title">most populate feats</div>
        <div>
          <table>
            <tbody>
            <% Feat.sort_by_popular.limit(5).each do |f| %>
              <tr height="35">
                <td width="30"><%= link_to image_tag(f.image.url(:small)), feat_path(f) if f.image %></td>
                <td class="smalltext"><%= link_to "!#{f.name}", feat_path(f) %></td>
                <td class="smalltext" align="right" width="80">for <%="#{f.bonus_points} pts" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column grid_4 rightbarsection">
        <div class="title">most populate rewards</div>
        <div>
          <table>
            <tbody>
            <% Reward.limit(5).each do |r| %>
              <tr height="35">
                <td width="30"></td>
                <td class="smalltext"><%= link_to "!#{r.name}", reward_path(r) %></td>
                <td class="smalltext" align="right" width="80"><%="#{r.redeem_points} points" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
       <div class="column grid_4 rightbarsection">
         <div class="title">my team ranking</div>
         <div>
           <table>
             <tbody>
             <% current_user.members.each do |m| %>
               <tr>
                 <td width="30"></td>
                 <td class="smalltext"><%= link_to "!#{m.name}", member_path(m) %></td>
                 <td class="smalltext" align="right" width="80"><%="#{m.earned_points} points" %></td>
               </tr>
             <% end %>
             </tbody>
           </table>
         </div>
       </div>
    </div>
    <div class="row">
       <div class="column grid_3">
         <h3>my challenges</h3>
         <% current_user.challenges.each do |c| %>
          <p>
          <% if current_user.challenge_completed?(c) %>
            <small><%= "#{c.name} 完成" %></small>
          <% else %>
            <small><%= "#{c.name} #{c.completed_feats(current_user).size}/#{c.feats.size}" %></small>
          <% end %>
          </p>
         <% end %>
       </div>
    </div>
    <div class="row">
       <div class="column grid_3">
         <h3>my wishlist</h3>
         <% current_user.wishes.each do |wish| %>
           <small><%= wish.name %>   <%= wish.redeem_points %> pts</small><br/>
         <% end %>
       </div>
    </div>
    <div class="row">
      <div class="column grid_3">
        <p>
        <% if user_signed_in? %>
          <%= link_to "Invite friends now!", new_user_invitation_path %>
        <% end %>
        </p>
      </div>
    </div>
  <% end %>
</aside>
<div id="clear"></div>