<div class="cell" id="center" style="overflow: hidden;">
  <div class="feat">
    <!--<div class="sponsorrow"></div>-->
    <div class="main row">
      <div class="stampside cell">
        <div class="stampcontainer">
          <%= render :partial => "shared/featgrid", :locals => {:feat => @feat} %>
        </div>
      </div>
      <div class="details cell">
        <span class="title"><b>为什么?</b></span>
        <br/>
        <%= @feat.why.html_safe %>
        <br/>
        <br/>
        <span class="title"><b>怎么做?</b></span>
        <br/>
        <%= @feat.how.html_safe %>
      </div>
    </div>

    <%= render :partial =>"checkins" %>
  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>

