<h1>!<%= @feat.name %> </h1>
<p><%= image_tag @feat.image.url(:small) if @feat.image %></p>
<p>Description<br/><%= @feat.description %></p>
<p>Why<br/><%= @feat.why.html_safe %></p>
<p>How<br/><%= @feat.how.html_safe %></p>
<p>Points<br/><%= @feat.bonus_points %></p>
