<div class="cell" id="center" style="overflow: hidden;">
  <div class="feat">
    <!--<div class="sponsorrow"></div>-->
    <div class="main row">
      <div class="stampside cell">
        <div class="stampcontainer">
          <%= render :partial => "shared/featgrid", :locals => {:feat => @feat} %>
        </div>
      </div>
      <div class="details cell">
        <span class="title"><b>为什么?</b></span>
        <br/>
        <%= @feat.why.html_safe %>
        <br/>
        <br/>
        <span class="title"><b>怎么做?</b></span>
        <br/>
        <%= @feat.how.html_safe %>
      </div>
    </div>

    <%= render :partial =>"checkins" %>
  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>
<style type="text/css">
    .feat_checkins_tabnav {
        font-size: 16px;
        z-index: 1;
    }
    .feat_checkins_tabnav ul {
        margin: 0px;
        padding: 0px;
    }
    .feat_checkins_tabnav li {
        display: inline;
        overflow: hidden;
        list-style-type: none;
    }
    .feat_checkins_tabnav li span.disabled {
        background: #FAFAFA;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;
    }
    .feat_checkins_tabnav a, .feat_checkins_tabnav a.active {
        background: #EEEEEE;
        padding: 2px 10px 2px 10px;
        margin: 0;
        text-decoration: none;
    }
    .feat_checkins_tabnav a.current {
        background: #72C9E5;
        color: #FFFFFF;
    }
    .feat_checkins_tabnav a:hover {
        color: #FFFFFF;
        background: #CCCCCC;
    }
    .feat_checkins_tabnav a:visited {
        /*color: #F58220;*/
    }
    .feat_checkins_tabnav a.active:hover {
        background: #FFFFFF;
        /*color: #F58220;*/
    }
    .feat_checkins_tabnav_content {
        background: #FFFFFF;
        padding-top: 20px;
        border-top: none;
        z-index: 2;
    }
</style>
