<div class="feat">
  <div class="stamp"><%= link_to image_tag("/assets/episodes/stills/#{feat.title}.png", :size => "200x125", :alt => feat.title), feat %></div>
  <div class="main">
    <div class="info">
      <span class="number">Feat #<%= feat.id %></span> &ndash;
      <span class="created_at"><%= feat.created_at.strftime('%b %d, %Y') %></span>
    </div>
    <h2><%= link_to feat.title, feats_path %></h2>
    <div class="description"><%= feat.description %></div>
    <div class="stats">
      <span>Points <%= feat.bonus_point %>, Feats Done <%= feat.done_count %></span>
    </div>
  </div>
  <div class="clear"></div>
</div>
