<div class="row">
  <div class="column grid_10">
    <h1>Edit Feat</h1>
    <p><%= link_to "View on this site", {:controller => "/feats", :action => :show, :id => @feat.id}, :target => "_blank"  %></p>
    <p><a href="/admin/feats">&laquo; Back to Feat List</a></p>
    <%= form_for @feat, :url => { :action => "update" }, :html => { :multipart => true }  do |f| %>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <div class="PaperclipFiles">
          <% if @feat.image.nil? %>
            <%= f.fields_for :image, @feat.build_image do |image_form| %>
              <p>
                <%= image_form.label "Add A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% else %>
            <p><%= image_tag @feat.image.url(:small) %></p>
            <%= f.fields_for :image do |image_form| %>
              <p>
                <%= image_form.label "Change A Photo" %>
                <%= image_form.file_field :upload %>
              </p>
            <% end %>
          <% end %>
      </div>
      <p>
        <%= f.label "Feat Tags" %><br/>
        <%= f.text_field :tag_tokens, "data-pre" => @feat.tags.map(&:attributes).to_json %>
      </p>
      <p>
        <%= f.label "Why" %><br/>
        <%= f.text_area :why, :size => "80x10", :id => "kindeditor" %>
      </p>
      <p>
        <%= f.label "How" %><br/>
        <%= f.text_area :how, :size => "80x10", :id => "kindeditor1" %>
      </p>
      <p>
        <%= f.label "Points" %><br/>
        <%= f.text_field :bonus_points %>
      </p>

      <p><%= f.submit %></p>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  // Disable Form Submission on Enter Key Press
  $('*').keypress(function(e){
      if (e.keyCode == 13){
          return false;
      }
  });
</script>