<div class="row">
  <div class="column grid_10">
    <h1>Edit Feat</h1>
    <p><%= link_to "View on this site", {:controller => "/feats", :action => :show, :id => @feat.id}, :target => "_blank"  %></p>
    <p><a href="/admin/feats">&laquo; Back to Feat List</a></p>
    <%= form_for @feat, :url => { :action => "update" } do |f| %>
      <p>
        <%= f.label "Category" %><br/>
        <%= collection_select :feat, :category_id, FeatCategory.all, :id, :name, :prompt => true %>
      </p>
      <p>
        <%= f.label "Title" %><br/>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label "Description" %><br/>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.label "Why" %><br/>
        <%= f.text_area :why, :size => "80x10" %>
      </p>
      <p>
        <%= f.label "How" %><br/>
        <%= f.text_area :how, :size => "80x10" %>
      </p>
      <p>
        <%= f.label "Points" %><br/>
        <%= f.text_field :bonus_point %>
      </p>
      <p><%= f.submit "Update" %></p>
      <div style="float:right;">
		<%= link_to 'Delete This Feat', admin_feat_path(:id=>@feat), :confirm => 'Are you sure?', :method => :delete %>
	  </div>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Feat", new_admin_feat_path %>
    <h3>Search Feat</h3>
    <%= form_for @search,:url => admin_feats_path, :html => {:method=>'get'} do |f| %>
	  <p>
		<%= f.text_field :title_contains %>
		<%= f.submit 'Go' %>
	  </p>
	<% end %>
    <h3>View Feat By Category</h3>
  </div>
</div>