<div class="row">
  <div class="column grid_10">
    <h1>All Feats List</h1>
    <% if params[:view].nil? %>
      <table class="list">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>DoneCount</th>
          <th>Points</th>
          <th>Released</th>
        </tr>
        <% for feat in @feats %>
          <tr>
            <td><%= feat.id %></td>
            <td><%= link_to feat.title, edit_admin_feat_path(feat) %></td>
            <td><%= feat.description %></td>
            <td><%= feat.done_count %></td>
            <td><%= feat.bonus_point %></td>
            <td><%= feat.created_at.strftime('%b %d, %Y') %></td>
          </tr>
        <% end %>
      </table>
    <% elsif params[:view] == "grid" %>
      <div class="grid">
        <% for feat in @feats %>
          <div class="feat">
            <div class="screenshot"><%= link_to image_tag("/assets/episodes/stills/dd.png", :size => "200x125"), feat %></div>
            <div class="title">
              #<%= feat.id %>
              <%= link_to feat.title, feats_path %>
            </div>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Feat", new_admin_feat_path %>
    <h3>Search Feat</h3>
    <%= form_for @search,:url => admin_feats_path, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :title_or_description_contains %>
		<%= f.text_field :title_or_description_contains %>
      </p>
	  <p>
        <%= f.label :categories_name_contains %>
		<%= f.text_field :categories_name_contains %>
      </p>
      <p><%= f.submit 'Go' %></p>
	<% end %>
    <h3>View By Category</h3>
	<ul id="view_tags">
      <% FeatCategory.all.each do |c| %>
        <li><%= link_to c.name, :action=>"list_by_category", :key=>c.name %></li>
      <% end %>
	</ul>
  </div>
</div>