<div class="row">
  <div class="column grid_10">
    <h1>All Content List</h1>
      <table class="list">
        <tr>
          <th>Title</th>
          <th>Publish On</th>
          <th>Permalink</th>
        </tr>
        <% for content_node in @content_nodes %>
          <tr>
            <td><%= link_to content_node.title, edit_admin_content_node_path(content_node) %></td>
            <td><%= content_node.created_at.strftime('%m/%d/%y') %></td>
            <td><%= content_node.permalink %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="column grid_3">
    <% if @view_by %>
      <%= link_to "Create New #{@view_by}", :action => 'new', :type => @view_by %>
    <% end %>
    <h3>Search Partner</h3>
    <%= form_tag search_path, :method=>'get' do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Go' %>
		</p>
	<% end %>
    <h3>View By Category</h3>
    <%= render :partial => 'subnav' %>
  </div>
</div>
