<div class="challengegrid" >
  <div class="cell challengeleft">
    <div><%= link_to image_tag('/images/icon_defaultchallenge.png'), challenge_path(challenge)  %></div>
    <div>
    <% if user_signed_in? %>
      <% if challenge.participants.include?(current_user) %>
        <% if challenge.completed_feats(current_user).size == challenge.feats.size %>
          <div class="progress_done">100%完成</div>
        <% else %>
          <div class="progress_container">
            <div class="progress" <%= "style='width: #{(100*(challenge.completed_feats(current_user).size.to_f/challenge.feats.size.to_f)).to_i}%;'" %>></div>
            <div class="progress_text"><%= (100*(challenge.completed_feats(current_user).size.to_f/challenge.feats.size.to_f)).to_i %>% 完成</div>
          </div>
        <% end %>
        <br/>
        <a class="button" href=<%= leave_challenge_path(challenge) %>><div style="width: 100px;">退出</div></a>
      <% else %>
        <a class="button" href=<%= accept_challenge_path(challenge) %>><div style="width: 100px;">接受</div></a>
      <% end %>
    <% else %>
      <a class="button" href=<%= challenge_path(challenge) %>><div style="width: 100px;">查看</div></a>
    <% end %>
    </div>
    <div style="display: table-row; color:#828584;font-size: 12px;"><br/><br/><%= challenge.participants.size %>位参与者</div>
  </div>
  <div class="cell challengeright" >
    <span style="font-size: 18px;"><b><%= link_to "#{challenge.name}", challenge_path(challenge) %></b></span>
    <br/>
    <i>创始人 <%= challenge.creator.name %></i>
    <br/>
    <br/>
    <span style="font-size: 14px;"><b>描述</b></span><br/>
    <%= challenge.description %>
    <br/>
    <br/>
    <span style="font-size: 14px;"><b>时间段</b></span><br/>
    开始时间: <%= challenge.start_on.strftime("%m/%d/%Y") %>
    <br/>
    结束时间: <%= challenge.end_on.strftime("%m/%d/%Y")  %>
    <br/>
    <br/>
    <span style="font-size: 14px;"><b>如何完成挑战</b></span>
    <br/>
    天内做到<%= challenge.feats.size %>个不同的事绩
    <br/>
    <br/>
    <span style="font-size: 14px;"><b>奖励积分</b></span><br/>
    <%= challenge.bonus_points %>
  </div>
</div>