<%= form_for Comment.new, :url=>checkin_comments_path(checkin), :method=> :post, :remote => true do |f| %>
<ul class="proptypeslist">
  <li><%= link_to 'congratulations', checkin_quick_comment_path(checkin, 'congratulations'), :method=>'post', :remote => true %></li>
  <li><%= link_to 'inspired', checkin_quick_comment_path(checkin, 'inspired'), :method=>'post', :remote => true %></li>
  <li><%= link_to 'yay!', checkin_quick_comment_path(checkin, 'yay!'), :method=>'post', :remote => true %></li>
  <li><%= link_to 'heartwarming', checkin_quick_comment_path(checkin, 'heartwarming'), :method=>'post', :remote => true %></li>
  <li><%= link_to 'nice work', checkin_quick_comment_path(checkin, 'nice work'), :method=>'post', :remote => true %></li>
</ul>
<%= f.text_area :content, :size => "40x1", :placeholder => "comment here..." %>
<div class="giveprop">
  <%= link_to 'give prop', "javascript:void();", :onclick => "$(this).parent().parent().submit()"  %>
</div>
<% end if user_signed_in? %>

<% unless checkin.comments.empty? %>
  <div class="userprops" id="checkin_<%= checkin.id %>_userprops">
  <% if checkin.comments.size > 4 %>
    <div class="userprop">
      <div class="text"><%= link_to "View all #{checkin.comments.size} comments", checkin_comments_path(checkin), :remote => true %></div>
    </div>
  <% end %>
  <% checkin.comments.limit(4).each do |comment| %>
    <div class="userprop row" userpropid=<%= comment.id %>>
      <div class="profilepic cell"><%= image_tag "/images/im_facebookprofile.png" %></div>
      <div class="text cell"><%= link_to comment.user.name, member_path(comment.user) %> <%= comment.content %></div>
      <div class="timestamp cell"><%= time_ago_in_words comment.created_at %>前</div>
  </div>
  <% end %>
  </div>
<% end %>
