<%= form_for Comment.new, :url=>checkin_comments_path(checkin), :method=> :post, :remote => true do |f| %>
<ul class="proptypeslist">
  <li><%= link_to '祝贺', checkin_quick_comment_path(checkin, '祝贺'), :method=>'post', :remote => true %></li>
  <li><%= link_to '鼓舞人心', checkin_quick_comment_path(checkin, '鼓舞人心'), :method=>'post', :remote => true %></li>
  <li><%= link_to '赞!', checkin_quick_comment_path(checkin, '赞!'), :method=>'post', :remote => true %></li>
  <li><%= link_to '感人', checkin_quick_comment_path(checkin, '感人'), :method=>'post', :remote => true %></li>
  <li><%= link_to '做得好', checkin_quick_comment_path(checkin, '做得好'), :method=>'post', :remote => true %></li>
</ul>
<%= f.text_area :content, :size => "40x1", :placeholder => "comment here..." %>
<div class="giveprop">
  <%= link_to '鼓励一下', "javascript:void();", :onclick => "$(this).parent().parent().submit()"  %>
</div>
<% end if user_signed_in? %>

<% unless checkin.comments.empty? %>
  <div class="userprops" id="checkin_<%= checkin.id %>_userprops">
  <% if checkin.comments.size > 4 %>
    <div class="userprop">
      <div class="text"><%= link_to "浏览全部评论(#{checkin.comments.size})", checkin_comments_path(checkin), :remote => true %></div>
    </div>
  <% end %>
  <% checkin.comments.limit(4).each do |comment| %>
    <div class="userprop row" userpropid=<%= comment.id %>>
      <div class="profilepic cell"><%= image_tag "/images/im_facebookprofile.png" %></div>
      <div class="text cell"><%= link_to comment.user.name, member_path(comment.user) %> <%= comment.content %></div>
      <div class="timestamp cell"><%= time_ago_in_words comment.created_at %>前</div>
  </div>
  <% end %>
  </div>
<% end %>
