<div class="feedcontainer">
<div class="feeditem">
  <div class="feedleft">
    <div class="stamp"><%= link_to image_tag(checkin.feat.image.url(:thumb)), feat_path(checkin.feat) %></div>
  </div>
  <div class="feedright">
    <div class="title"><%= link_to checkin.user.name, member_path(checkin.user) %> 做了 <%= link_to checkin.feat.name, feat_path(checkin.feat) %></div>
    <div class="message">
      <div class="evidence" style="display: none;">evidence pic here</div>
      <%= checkin.memo %>
    </div>
    <div class="timelocation"><%= time_ago_in_words checkin.created_at %>前<%= ", #{checkin.location}" if !checkin.location.blank? %></div>
    <% checkin.challenges.each do |challenge| %>
    <div class="block">
      <div class="image"><%= link_to image_tag(challenge.image.nil? ? '/images/icon_defaultchallenge.png' : challenge.image.url(:thumb)), challenge_path(challenge) %></div>
      <div class="text">
        <%= checkin.user.name %>
        <% if checkin.user.complete_challenge?(challenge) %>
          完成了挑战 <%= link_to challenge.name, challenge_path(challenge)  %><i> +<%= challenge.bonus_points %>分!</i>
        <% else %>
          正在挑战 <%= link_to challenge.name, challenge_path(challenge)  %>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="props" id="checkin_<%= checkin.id %>_props">
      <%= form_for Comment.new, :url=>checkin_comments_path(checkin), :method=> :post, :remote => true do |f| %>
        <ul class="proptypeslist">
          <li><%= link_to '祝贺', checkin_quick_comment_path(checkin, '祝贺'), :method=>'post', :remote => true %></li>
          <li><%= link_to '鼓舞人心', checkin_quick_comment_path(checkin, '鼓舞人心'), :method=>'post', :remote => true %></li>
          <li><%= link_to '赞!', checkin_quick_comment_path(checkin, '赞!'), :method=>'post', :remote => true %></li>
          <li><%= link_to '感人', checkin_quick_comment_path(checkin, '感人'), :method=>'post', :remote => true %></li>
          <li><%= link_to '做得好', checkin_quick_comment_path(checkin, '做得好'), :method=>'post', :remote => true %></li>
        </ul>
        <%= f.text_area :content, :size => "40x1", :placeholder => "comment here..." %>
        <div class="giveprop">
          <%= link_to '鼓励一下', "javascript:void();", :onclick => "$(this).parent().parent().submit()"  %>
        </div>
      <% end if user_signed_in? %>

      <% unless checkin.comments.empty? %>
      <div class="userprops" id="checkin_<%= checkin.id %>_userprops">
        <% if checkin.comments.size > 4 %>
          <div class="userprop">
            <div class="text"><%= link_to "View all #{checkin.comments.size} comments", checkin_comments_path(checkin), :remote => true %></div>
          </div>
        <% end %>
        <% checkin.comments.limit(4).each do |comment| %>
        <div class="userprop row" userpropid=<%= comment.id %>>
          <div class="profilepic cell"><%= image_tag "/images/im_facebookprofile.png" %></div>
          <div class="text cell"><%= link_to comment.user.name, member_path(comment.user) %> <%= comment.content %></div>
          <div class="timestamp cell"><%= time_ago_in_words comment.created_at %>前</div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <%# if checkin.feat.creator %>
    <!--<div class="block">-->
      <!--<div class="image"></div>-->
      <!--<div class="text"></div>-->
    <!--</div>-->
    <%# end %>
  </div>
  <!--<div style="clear:both;"></div>-->
</div>
</div>