<div class="navcontainer">
  <ul class="menu">
	<li>
      <%= link_to "Checkins", checkins_path %>
      <div class="bottombar"></div>
	</li>
	<li>
	  <%= link_to "Feats", feats_path %>
      <div class="bottombar"></div>
	  <span id="subnav_feats" class="submenu">
        <%= link_to "All feats", catalog_feats_path, :id => is_active?(catalog_feats_path) %>
        <%= link_to "Plan feats", plans_path, :id => is_active?(plans_path) if user_signed_in? %>
        <%= link_to "Challenge", challenges_path, :id => is_active?(challenges_path) %>
      </span>
	</li>
	<li>
	  <%= link_to "Rewards", rewards_path %>
      <div class="bottombar"></div>
	  <span id="subnav_rewards" class="submenu">
        <%= link_to "Local savings", local_rewards_path, :id => is_active?(local_rewards_path) %>
        <%= link_to "Premium rewards", premium_rewards_path, :id => is_active?(premium_rewards_path) %>
        <%= link_to "Wishlist", wishlist_rewards_path, :id => is_active?(wishlist_rewards_path) if user_signed_in? %>
      </span>
	</li>
    <% if user_signed_in? %>
	<li>
	  <%= link_to "Team", teammates_path %>
      <div class="bottombar"></div>
	  <span id="subnav_team" class="submenu">
        <%= link_to "My team", teammates_path, :id => is_active?(teammates_path) %>
        <%= link_to "Our feats", team_checkins_path, :id => is_active?(team_checkins_path) %>
        <%= link_to "Requests", my_requests_path, :id => is_active?(my_requests_path) %>
      </span>
	</li>
	<li>
	  <%= link_to "Profile", profile_path %>
      <div class="bottombar"></div>
	  <span id="subnav_profile" class="submenu">
        <%= link_to "My feats", member_path(current_user.id) %>
        <%= link_to "Edit account", profile_path, :id => is_active?(profile_path) %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
      </span>
	</li>
    <% else %>
	<li>
	  <%= link_to "Sign In", new_user_session_path %>/<%= link_to "Sign Up", new_user_registration_path %>
      <div class="bottombar"></div>
	</li>
    <% end %>
  </ul>
</div>