<div class="navcontainer">
  <ul class="menu">
	<li>
      <%= link_to "Check-ins", checkins_path %>
      <div class="bottombar"></div>
	</li>
	<li>
	  <%= link_to "Feats", feats_path %>
      <div class="bottombar"></div>
	  <span id="subnav_feats" class="submenu">
        <%= link_to "All feats", catalog_feats_path, :id => active?("feats") %>
        <%= link_to "Plan feats", plans_path, :id => active?("plans") if user_signed_in? %>
        <%= link_to "Challenge", challenges_path, :id => active?("challenges") %>
      </span>
	</li>
	<li>
	  <%= link_to "Rewards", rewards_path %>
      <div class="bottombar"></div>
	  <span id="subnav_rewards" class="submenu">
        <%= link_to "Local savings", local_rewards_path, :id => active?("rewards", "local") %>
        <%= link_to "Premium rewards", premium_rewards_path, :id => active?("rewards", "premium") %>
        <%= link_to "Wishlist", wishlist_rewards_path, :id => active?("rewards", "wishlist") if user_signed_in? %>
      </span>
	</li>
    <% if user_signed_in? %>
	<li>
	  <%= link_to "Team", teammates_path %>
      <div class="bottombar"></div>
	  <span id="subnav_team" class="submenu">
        <%= link_to "My team", teammates_path, :id => active?("team", "index") %>
        <%= link_to "Our feats", team_checkins_path, :id => active?("team", "checkins") %>
        <%= link_to "Requests", my_requests_path, :id => active?("team", "requests") %>
      </span>
	</li>
	<li>
	  <%= link_to "My Profile", profile_path %>
      <div class="bottombar"></div>
	  <span id="subnav_profile" class="submenu">
        <%= link_to "My feats", member_path(current_user.id), :id => active?("member", "show") %>
        <%= link_to "Edit account", profile_path, :id => active?("registrations", "edit") %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
      </span>
	</li>
    <% else %>
	<li>
	  <%= link_to "Sign In", new_user_session_path, :id => 'sign_in' %> / <%= link_to "Sign Up", new_user_registration_path, :id => 'sign_up' %>
      <div class="bottombar"></div>
	</li>
    <% end %>
  </ul>
</div>