<aside>
<% if user_signed_in? %>
  <div class="column grid_4 rightbarsection">
    <div style="display: table-row;color: #F58220;"><div style="display: table-cell; padding-right: 15px;"><b>Rewards points:</b></div><div style="display: table-cell;"><b><%= current_user.earned_points %></b></div></div>
    <div style="display: table-row;color: #F58220;"><div style="display: table-cell; padding-right: 15px;"><b>Savings:</b></div><div style="display: table-cell;"><b><%= number_to_currency(current_user.earned_points.to_f*0.1) %></b></div></div>
  </div>
<% end %>
  <div class="column grid_4 rightbarsection">
    <div class="title">Search for a reward</div>
    <div class="subtext">Tell us your city, address or zip code to start finding rewards near you!</div>
    <% form_tag '/view/rewards/local', :method => 'get' do %>
      <%= text_field_tag :address, params[:address] %>
    <div class="subtext">Have an activity you want to use your reward points for? Enter it here and we'll find it!</div>
      <%= text_field_tag :keyword, params[:keyword] %><br/><br/>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>
  <div class="column grid_4 rightbarsection">
    <div class="title">Restrictions</div>
    <div class="subtext">* You may only redeem one starred premium reward every 30 days.</div>
  </div>
</aside>
<div id="clear"></div>