<div class="coupontablet" coupon_id=<%= reward.id %>>
  <% if user_signed_in? %>
    <div class="overlay"><%= render :partial => "wishoverlay", :locals => {:reward => reward} %></div>

    <%= render :partial => "savedoverlay", :locals => {:reward => reward} %>
  <% end %>
  <div class="top">
    <div class="logo"><%= image_tag reward.image.url(:small) if reward.image %></div>
    <br/>
    <% if user_signed_in? %>
      <a class="btn" href="<%= new_reward_redemption_path(reward) %>">兑换</a>
    <% else %>
      <a class="btn">更多积分</a>
    <% end %>
  </div>
  <div class="main">
    <div class="title">节省¥<%= reward.save_money %></div>
    <div class="description">
      <p>
        <b><%= reward.partner.business_name %></b>
        <br/>
        <%= link_to "#{[reward.state, reward.city, reward.street].join('/')}","http://ditu.google.cn/maps?q=#{[reward.state, reward.city, reward.street].join(',')}", :target => "_blank" %>
        <%#= link_to "#{[reward.street,t(reward.city, :scope => :cities),t(reward.state, :scope => :states)].join('/')}","http://ditu.google.cn/maps?q=#{[reward.street,t(reward.city, :scope => :cities),t(reward.state, :scope => :states)].join(',')}", :target => "_blank" %>
      </p>
    </div>
    <div class="points"><%= reward.redeem_points %>积分</div>
    <div class="readmore"><%= link_to "查看", reward_path(reward) %></div>
  </div>
</div>