<div>
  <% unless user_signed_in? %>
  <div class="rightbarsection">
    <div class="title">做的最多的事绩</div>
    <div>
      <table>
        <tbody>
        <% Feat.sort_by_popular.limit(5).each do |f| %>
          <tr height="35">
            <td width="30"><%= link_to image_tag(f.image.url(:small)), feat_path(f) if f.image %></td>
            <td class="smalltext" width="160"><%= link_to "#{f.name}", feat_path(f) %></td>
            <td class="smalltext" align="right" width="80"><%="#{f.bonus_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="rightbarsection">
    <div class="title">最受欢迎的奖励</div>
    <div>
      <table>
        <tbody>
        <% Reward.limit(5).each do |r| %>
          <tr height="35">
            <td width="30"><%= link_to image_tag(r.image.url(:small)), reward_path(r) if r.image %></td>
            <td class="smalltext" width="160"><%= link_to "#{r.name}", reward_path(r) %></td>
            <td class="smalltext" align="right" width="80"><%="#{r.redeem_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
   <div class="rightbarsection">
     <div class="title">快速纪事</div>
     <div>
     </div>
   </div>

   <div class="rightbarsection">
     <div class="title">查找</div>
     <div>
     </div>
   </div>

   <div class="rightbarsection">
     <div class="title">我的生命分数</div>
     <div class="lifescoreblock">
       <div class="profilepic">
         <% if current_user.avatar_file_name %>
           <%= image_tag current_user.avatar.url(:normal) %>
         <% else %>
           <%= image_tag "/images/im_facebookprofile.png" %>
         <% end %>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.life_score %></div>
         <div class="name">分数</div>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.feats_done.size %></div>
         <div class="name">做过的事绩</div>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.earned_points %></div>
         <div class="name">我的积分</div>
       </div>
     </div>
   </div>

  <div class="rightbarsection">
    <div class="title">我的圈子</div>
    <div>
      <table>
        <tbody>
        <% current_user.members.each do |m| %>
          <tr height="35">
            <td width="30">
              <% if m.avatar_file_name %>
                <%= image_tag m.avatar.url(:thumb) %>
              <% else %>
                <%= image_tag "/images/im_facebookprofile.png" %>
              <% end %>
            </td>
            <td class="smalltext" width="170"><%= link_to m.name, member_path(m) %></td>
            <td class="smalltext" align="right" width="80"><%="#{m.earned_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="subfooter"><%= link_to "邀请朋友加入我的圈子!", team_invitation_path %></div>
    </div>
  </div>

  <% end %>
</div>
