<div>
  <% unless user_signed_in? %>
  <div class="rightbarsection">
    <div class="title">做的最多的事绩</div>
    <div>
      <table>
        <tbody>
        <% Feat.sort_by_popular.limit(5).each do |f| %>
          <tr height="35">
            <td width="30"><%= link_to image_tag(f.image.url(:small)), feat_path(f) if f.image %></td>
            <td class="smalltext" width="160"><%= link_to "#{f.name}", feat_path(f) %></td>
            <td class="smalltext" align="right" width="80"><%="#{f.bonus_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="rightbarsection">
    <div class="title">最受欢迎的奖励</div>
    <div>
      <table>
        <tbody>
        <% Reward.limit(5).each do |r| %>
          <tr height="35">
            <td width="30"><%= link_to image_tag(r.image.url(:small)), reward_path(r) if r.image %></td>
            <td class="smalltext" width="160"><%= link_to "#{r.name}", reward_path(r) %></td>
            <td class="smalltext" align="right" width="80"><%="#{r.redeem_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
   <div class="rightbarsection">
     <div class="title">快速记事</div>
     <div class="search_box">
       <%= form_tag({:controller => :search, :action => :search_for_checkin}, :method=>"get", :id=>"live-search-form") do %>
         <%= text_field_tag :q, nil, :maxlength => 10, :style=>"width:240px", :id=>"quick-search-box"  %>
         <%= submit_tag "查询", :style=>"display:none;" %>
         <div id="live-search-results"></div>
       <% end %>
     </div>
   </div>
   <script type="text/javascript">
        var timer;
        $("#quick-search-box").live("keyup", function() {
          if (this.value.length > 0){
              if (timer){
                  clearTimeout(timer);
              }
              timer = setTimeout(function(){
                  if ($("#quick-search-box").val().length > 0){
                      $("#quick-search-box").addClass("loading"); // show the spinner
                      var form = $("#live-search-form"); // grab the form wrapping the search bar.
                      var url = "/search/checkin"; // live_search action.
                      var formData = form.serialize(); // grab the data in the form
                      $.get(url, formData, function(html) { // perform an AJAX get
                        $("#quick-search-box").removeClass("loading"); // hide the spinner
                        $("#live-search-results").html(html); // replace the "results" div with the results
                        if ( $("#live-search-results > *").length > 0 ) {
                            $("#live-search-results").addClass("search_result_border");
                        }
                      });
                  }
              }, 1000);
          }else{
              $("#live-search-results").html('');
              $("#live-search-results").removeClass("search_result_border");
          }
        });

        $('#quick-search-box').focus( function () {
//            $(this).val() = ($(this).val() == "" || $(this).val() == "Search Feat") ?  "" : $(this).val();
            return false;
        }).blur(function (){
            if (timer){
                clearTimeout(timer);
            }
            timer = setTimeout(function(){
                $("#live-search-results").html('');
                $("#live-search-results").removeClass("search_result_border");
            }, 500);
        });
   </script>

   <div class="rightbarsection">
     <div class="title">查找事绩或奖励</div>
     <div class="searchwrapper">
       <%= form_tag({:controller => :search, :action => :all_search}, :method=>"get") do %>
         <%= text_field_tag :q, nil, :maxlength => 10, :style=>"width:240px", :id => "all-search-box" %>
         <%= image_submit_tag "/images/search.png", :class => "searchbox_submit", :style => "display: none;" %>
       <% end %>
     </div>
   </div>
   <script type="text/javascript">
     $("#all-search-box").focus(function(){
        $(".searchbox_submit").show();
     }).blur(function(){
        $(".searchbox_submit").hide();
     });

   </script>

   <div class="rightbarsection">
     <div class="title">我的生命分数</div>
     <div class="lifescoreblock">
       <div class="profilepic">
         <% if current_user.avatar_file_name %>
           <%= image_tag current_user.avatar.url(:normal) %>
         <% else %>
           <%= image_tag "/images/im_facebookprofile.png" %>
         <% end %>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.life_score %></div>
         <div class="name">分数</div>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.feats_done.size %></div>
         <div class="name">做过的事绩</div>
       </div>
       <div class="lifescore">
         <div class="score"><%= current_user.earned_points %></div>
         <div class="name">我的积分</div>
       </div>
     </div>
   </div>

  <div class="rightbarsection">
    <div class="title">我的圈子</div>
    <div>
      <table>
        <tbody>
        <% current_user.members.each do |m| %>
          <tr height="35">
            <td width="30">
              <% if m.avatar_file_name %>
                <%= image_tag m.avatar.url(:thumb) %>
              <% else %>
                <%= image_tag "/images/im_facebookprofile.png" %>
              <% end %>
            </td>
            <td class="smalltext" width="170"><%= link_to m.name, member_path(m) %></td>
            <td class="smalltext" align="right" width="80"><%="#{m.earned_points}分" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="subfooter"><%= link_to "邀请朋友加入我的圈子!", team_invitation_path %></div>
    </div>
  </div>

  <% end %>
</div>
