<%= javascript_include_tag 'jquery.validationEngine-zh_CN','jquery.validationEngine' %>
<div class="content">
  <div id="header">
    <div class="logo"><%= link_to image_tag("/images/im_logo_full.png"), root_path %></div>
      <% if user_signed_in? %>
        <%= render :partial => "shared/navigation" %>
      <% else %>
        <%= render :partial => "shared/welcomenav" %>
      <% end %>
  </div>
</div>
<div class="welcome_body">
<div class="welcome_content">
  <div class="content">
  <div class="welcome_center">
    <div class="textarea">
      <div class="bigtext">欢迎回来,<br/><%= current_user.name %> </div>
      <div class="subtext">
        <div class="title">今天你做了什么?</div>
        <div class="search_box">
          <%= text_field_tag :q, nil, :maxlength => 10, :style=>"width:400px", :id=>"quick-search-box"  %>
          <div id="live-search-results"></div>
        </div>
	  </div>
    </div>
    <div class="image">
      <div id="d_home_plannedfeats" style="width: 500px; height: 300px; font-size: 9pt; text-align: left">
        <div class="pagetitle">
          <h2><%= link_to "你计划做的事儿", plans_path %></h2>
        </div>
        <div style="border: 1px solid #f1f1f1; overflow: auto; height: 250px; width: 470px; padding: 0px; margin-top: 10px">
          <% tableize current_user.planned_feats,
                        :name => 'plans',
                        :cols => 3 do |feat| %>

            <%= render :partial => "plangrid", :locals => {:feat => feat} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="content" style="font-size: 16px; line-height:1.5em; overflow: hidden;">
  <div class="cols cols3">
    <div class="col first">
      <div class="welcome_column">这听起来有点奇怪，但是我们是认真的。如果你是一个好人，我们将给你奖励，或捐赠给非营利组织。</div>
    </div>
    <div class="col">
      <div class="welcome_column">"有研究表明，跟踪其良好的生活习惯的人更容易使他们能跟上，并与他人分享这些信息为我们提供了一种自豪感的提升 - 即使是简单的任务..."</div>
    </div>
    <div class="col">
      <div class="welcome_column">"当我做一件好事，那种自豪和满意的感觉，驱使我继续做好事..."</div>
    </div>
  </div>
</div>
</div>
<div class="content">
<div id="footer">
  <%= render :partial => "shared/footer" %>
</div>
</div>
</div>
<script type="text/javascript">
    var timer;
    $("#quick-search-box").live("keyup", function() {
      if (this.value.length > 0){
          if (timer){
              clearTimeout(timer);
          }
          timer = setTimeout(function(){
              if ($("#quick-search-box").val().length > 0){
                  $("#quick-search-box").addClass("loading"); // show the spinner
//                      var form = $("#live-search-form"); // grab the form wrapping the search bar.
                  var url = "/search/checkin"; // live_search action.
//                      var formData = form.serialize(); // grab the data in the form
                  $.get(url, {q:$("#quick-search-box").val()}, function(html) { // perform an AJAX get
                    $("#quick-search-box").removeClass("loading"); // hide the spinner
                    $("#live-search-results").html(html); // replace the "results" div with the results
                    if ( $("#live-search-results > *").length > 0 ) {
                        $("#live-search-results").addClass("search_result_border");
                    }
                  });
              }
          }, 1000);
      }else{
          $("#live-search-results").html('');
          $("#live-search-results").removeClass("search_result_border");
      }
    });

    $('#quick-search-box').focus( function () {
//            $(this).val() = ($(this).val() == "" || $(this).val() == "Search Feat") ?  "" : $(this).val();
        return false;
    }).blur(function (){
        if (timer){
            clearTimeout(timer);
        }
        timer = setTimeout(function(){
            $("#live-search-results").html('');
            $("#live-search-results").removeClass("search_result_border");
        }, 500);
    });
</script>
