<div class="row">
  <div class="column grid_10">
    <h1>Edit <%= @tag.kind %> Category</h1>
    <p><a href="/admin/tags">&laquo; Back</a></p>
    <%= form_for @tag, :url => {:action => "update"} do |f| %>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p><%= f.submit "Update" %></p>
    <% end %>
  </div>
  <%# render :partial => 'crud_right' %>
</div>