<div class="row">
  <div class="column grid_10">
    <h1><%= @view_by %> Tags List</h1>
      <table class="list">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Position</th>
          <th>Action</th>
        </tr>
        <% for tag in @tags %>
          <tr>
            <td><%= link_to tag.name, edit_admin_tag_path(tag) %></td>
            <td><%= tag.kind %></td>
            <td><%= tag.position %></td>
            <td><%= link_to 'Delete', admin_tag_path(tag), :confirm => 'Are you sure?', :method => :delete  %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="column grid_3">
    <% if @view_by %>
      <%= link_to "Create New #{@view_by} Tag", :action => 'new', :type => @view_by %>
    <% end %>
    <h3>Search Tag</h3>
    <%= form_tag "/admin/tags", :method=>'get' do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Go' %>
		</p>
	<% end %>
    <h3>View By Tag Type</h3>
    <%= render :partial => 'subnav' %>
  </div>
</div>
