<div class="row">
  <div class="column grid_10">
    <h1>New <%= @tag.kind %> Tag</h1>
    <p><a href="/admin/tags">&laquo; Back</a></p>
    <%= form_for @tag, :url => {:action => "create"} do |f| %>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.text_field :kind, :value => @tag.kind, :type => "hidden" %>
      </p>
      <p><%= f.submit "Create" %></p>
    <% end %>
  </div>
  <%# render :partial => 'crud_right' %>
</div>