<div class="row">
  <div class="column grid_10">
    <h1>All Checkins List</h1>
    <% if params[:view].nil? %>
      <table class="list">
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Checkin Id</th>
          <th>Checkin Title</th>
          <th>Checkin At</th>
        </tr>
        <% for checkin in @checkins %>
          <tr>
            <td><%= checkin.user.id %></td>
            <td><%= checkin.user.name %></td>
            <td><%= checkin.feat.id %></td>
            <td>!<%= checkin.feat.title %></td>
            <td><%= checkin.created_at.strftime('%m/%d/%y at %l:%M %p') %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="column grid_3">
    <h3>Search Checkin</h3>
    <%= form_for @search,:url => {:controller => "admin/checkins", :action => 'index'}, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :feat_title_contains %>
		<%= f.text_field :feat_title_contains %>
      </p>
      <p><%= f.submit 'Go' %></p>
	<% end %>
  </div>
</div>