<div class="row">
  <div class="column grid_10">
    <h1>All Challenges List</h1>
    <p><%= paginate @challenges %></p>
    <% if params[:view].nil? %>
      <table class="list">
        <tr>
          <th>Name</th>
          <th>Start On</th>
          <th>End On</th>
          <th>Created By</th>
          <th colspan="2">Action</th>
        </tr>
        <% for challenge in @challenges %>
          <tr>
            <td><%= link_to challenge.name, edit_admin_challenge_path(challenge) %></td>
            <td><%= challenge.start_on %></td>
            <td><%= challenge.end_on %></td>
            <td><%= challenge.name %></td>
            <td><%#= link_to "View", challenge_path(challenge), :target =>"_blank"  %></td>
            <td><%= link_to 'Delete', admin_challenge_path(challenge), :confirm => 'Are you sure?', :method => :delete  %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Challenge", new_admin_challenge_path %>
    <h3>Search Challenge</h3>
    <%= form_for @search,:url => admin_challenges_path, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :name_or_description_contains %>
		<%= f.text_field :name_or_description_contains %>
      </p>
      <p><%= f.submit 'Go' %></p>
	<% end %>
  </div>
</div>