<div class="row">
  <div class="column grid_10">
    <h1>Edit Role</h1>
    <p><a href="/admin/roles">&laquo; Back to Role List</a></p>
    <%= form_for @role, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>
      <p>
        <%= f.label "Name" %><br/>
        <%= f.text_field :name %>
      </p>
      <p><%= f.submit %></p>
    <% end %>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Role", new_admin_role_path %>
    <h3>Search Role</h3>
    <%= form_for @search,:url => admin_roles_path, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :name_contains %>
		<%= f.text_field :name_contains %>
		<%= f.submit 'Go' %>
	  </p>
	<% end %>
  </div>
</div>