  <div class="thirdnav" style="font-size: 16px;margin-bottom: 25px;">
    <div class="item <%= active_li_css(view_by, "Teammates") %>"><%= link_to '我的朋友', teammates_path %></div>
    <div class="item <%= active_li_css(view_by, "Our Feats") %>"><%= link_to '我们的事迹', team_checkins_path %></div>
    <div class="item <%= active_li_css(view_by, "Requests") %>"><%= link_to '请求', my_requests_path %></div>
    <div class="last <%= active_li_css(view_by, "Invite") %>"><%= link_to '邀请朋友', team_invitation_path %></div>
  </div>