<ul class="navigation primary">
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "Teammates", teammates_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "Our Checkins", team_checkins_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "Requests", my_requests_path %></small></li>
</ul>
<div class="clear"></div>