<div class="pagetitle"><h1><%= @page_title %></h1></div>
<div class="column grid_2">
  <%= render :partial => 'subnav' %>
</div>
<div class="column grid_8">
<% tableize @checkins,
            :name => 'checkins',
            :cols => 4,
            :generate_css => 'true' do |checkin| %>

     <h3><%= "#{checkin.user.name} did !#{checkin.feat.name}" %></h3>
     <% checkin.challenges.each do |challenge| %>
       <p><small><%= checkin.user.name %> was working on <%= challenge.name  %></small></p>
     <% end %>
     <small><%= "#{time_ago_in_words checkin.created_at} ago"  %></small>

<% end if @checkins %>
</div>
<div class="column grid_4">
  <%= render :partial => "feats/rightbar" %>
</div>

