<div class="cell" id="center">
  <%= render :partial => "subnav", :locals => {:view_by => @view_by} %>
  <br/>
  <br/>
  <div id="invite_teammember" class="form">
    <div class="header">通过电邮邀请</div>
    <%= form_tag '/team/invite',:method => 'get' do %>
    <div>
      <%= label_tag "朋友的姓名:"%>
      <%= text_field_tag :name %>
    </div>
    <div>
      <%= label_tag "朋友的E-mail:"%><%= email_field_tag :email %>
    </div>
    <%= submit_tag '发出邀请' %>
    <% end %>
  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>