<div class="pagetitle"><h1><%= @page_title %></h1></div>
<div class="column grid_10">
  <div class="thirdnav">
    <ul>
      <li class="<%= active_li_css(@view_by, "Teammates") %>"><%= link_to 'Teammates', teammates_path %></li>
      <li class="<%= active_li_css(@view_by, "Our Feats") %>"><%= link_to 'Our Checkins', team_checkins_path %></li>
      <li class="<%= active_li_css(@view_by, "Requests") %>"><%= link_to 'Requests', my_requests_path %></li>
      <li class="<%= active_li_css(@view_by, "Invite") %>"><%= link_to 'Invite Teammates', invitation_path %></li>
    </ul>
  </div>
  <div class="column grid_8">
  <div id="invite_teammember" class="form">
    <div class="header">Invite via e-mail</div>
    <%= form_tag '/team/invite',:method => 'get' do %>
    <div class="formrow">
      <div class="formlabel_wide"><%= label_tag "Your friend's name':"%></div>
      <div class="forminput"><%= text_field_tag :name %></div>
    </div>
    <div class="formrow">
      <div class="formlabel_wide"><%= label_tag "Your friend's e-mail':"%></div>
      <div class="forminput"><%= email_field_tag :email %></div>
    </div>
    <%= submit_tag 'SEND INVITES' %>
    <% end %>
  </div>
  </div>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>