<div class="pagetitle"><h1><%= @page_title %></h1></div>
<div class="column grid_2">
  <%= render :partial => 'subnav' %>
</div>
<div class="column grid_8">
<% @outgoing_requests.each do |request| %>
<p><%= request.name %></p>
<% end %>
<hr />
<h3>Incoming Requests</h3>
<% @incoming_requests.each do |request| %>
<p><%= request.name %></p>
<% end %>
</div>
<div class="column grid_4">
  <%= render :partial => "feats/rightbar" %>
</div>
