<div class="row">
  <div class="column grid_10">
    <h1><%= @view_by %> Categories List</h1>
      <table class="list">
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Type</th>
        </tr>
        <% for category in @categories %>
          <tr>
            <td><%= link_to category.name, edit_admin_category_path(category) %></td>
            <td><%= category.position %></td>
            <td><%= category.category_type %></td>
            <td><%= link_to 'Delete', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete  %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="column grid_3">
    <% if @view_by %>
      <%= link_to "Create New #{@view_by} Category", :action => 'new', :type => @view_by %>
    <% end %>
    <h3>Search Category</h3>
    <%= form_tag search_path, :method=>'get' do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Go' %>
		</p>
	<% end %>
    <h3>View By Category Type</h3>
    <%= render :partial => 'subnav' %>
  </div>
</div>
