<ul class="navigation primary">
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "My Challenges", mine_challenges_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "By Date", by_date_challenges_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "By Points", by_points_challenges_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "By Popularity", by_popularity_challenges_path %></small></li>
  <li class="<%= active_li_css(@view_by, params[:action]) %>"><small><%= link_to "Create My Challenge",new_challenge_path %></small></li>
</ul>
<div class="clear"></div>