<%# content_for :head do %>
  <%= stylesheet_link_tag "tokeninput/token-input" %>
<%# end %>

<%# content_for :scripts do%>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <script type="text/javascript">
      // Disable Form Submission on Enter Key Press
      $('*').keypress(function(e){
          if (e.keyCode == 13){
              return false;
          }
      });
  </script>
<%# end %>

<div class="cell" id="center">
  <div class="form">
    <%= form_for @challenge, :url => {:action => "create"}, :html => { :multipart => true } do |f| %>
      <div class="header">关于挑战</div>
      <div>
        <%= f.label "名称:*" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label "描述:*" %>
        <%= f.text_field :description %>
      </div>
      <div>
        <%= f.fields_for :image do |builder| %>
            <%= f.label "图片上传:" %>
            <%= builder.file_field :upload %>
        <% end %>
      </div>
      <br/>
      <br/>
      <div class="header">包括哪些事绩?</div>
      <div>
        <%= f.label "添加事绩:*" %>
        <%= f.text_field :feat_tokens %>
      </div>
      <br/>
      <br/>
      <div class="header">挑战时间及奖励</div>
      <div>
        <%= f.label "持续多久时间:*" %>
        <%= f.select :period, Challenge::PERIODS, :selected => 1 %>
      </div>
      <div>
        <%= f.label "奖励积分:*" %>
        <%= f.select :bonus_points, [['无需奖励', 0], ['10分', 10], ['25分', 25], ['50分',50], ['75分', 75]], :selected => 0 %>
      </div>
      <br/>
      <br/>
      <div class="buttoncontainer">
        <%= f.submit "新增" %><%= link_to "取消并返回", mine_challenges_path %>
      </div>
    <% end %>
  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>

