<div class="row">
  <div class="column grid_8">
    <h1><%= @challenge.name %></h1>
    <p><%= link_to "Leave challenge", leave_challenge_path(@challenge) %></p>
  <p>
    Description<br/>
    <%= @challenge.description %>
  </p>
  <p>
    Feats<br/>
    <% @challenge.feats.each do |feat| %>
      <p><%= link_to feat.name, feat_path(feat) %></p>
    <% end %>
  </p>
  <p>
    Start On<br/>
    <%= @challenge.start_on_string %>
  </p>
  <p>
    End On<br/>
    <%= @challenge.end_on_string %>
  </p>
  <p>
    Extra Points<br/>
    <%= @challenge.bonus_points %>
  </p>
  </div>
  <%# render :partial => 'crud_right' %>
</div>
