
  <div class="leftnavitem <%= active_li_css(@view_by, "index") %>"><%= link_to "全部", plans_path %></div>
  <div class="leftnavitem <%= active_li_css(@view_by,"daily") %>"><%= link_to "日计划", daily_plans_path %></div>
  <div class="leftnavitem <%= active_li_css(@view_by, 'weekly') %>"><%= link_to "周计划", weekly_plans_path %></div>
  <div class="leftnavitem <%= active_li_css(@view_by, 'weekend') %>"><%= link_to "周末计划", weekend_plans_path %></div>