.feeditem
  .leftside{:style=>"display:table-cell;width:55px"}
    = image_tag "im_facebookprofile.png", :width => 45, :height => 45
  .rightside{:style=>"display:table-cell;vertical-align:top;"}
    %p
      %strong
        = link_to "柒子的马甲","#"
      %code 我是一个妈妈
      做了
      %strong
        = link_to "真实的自己", "#"
    %p 匪我思存，20部小说的作者，10部电视连续剧的原著者，国内原创爱情小说领军人物，在多家知名杂志发表过小说。
    %p
      %span.prop{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-plus
        赞
      %span.comment{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-comment
        评论
      %span.share{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-share
        分享
      %span
        |
        1小时前
        |
        成都 · 四川
      = text_area_tag :checkin_comment, "", :placeholder => "添加评论", :size => "255", :style => "margin-bottom:0;display:none;"
      %span.comment-buttons.pull-right{:style=>"padding-right:15px;display:none;"}
        = link_to "取消","javascript:void(0);", :class=>"cancel"
        = link_to "提交","#"
      %div{:style=>"clear:both;"}
      .comment-blockquotes{:style=>"clear;both;"}
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small 桑桑， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的
          %small 老猫麦邪， 二小时前
%hr
.feeditem
  .leftside{:style=>"display:table-cell;width:55px"}
    = image_tag "im_facebookprofile.png", :width => 45, :height => 45
  .rightside{:style=>"display:table-cell;vertical-align:top;"}
    %p
      %strong
        = link_to "画旅途","#"
      %code 我是一个学生
      做了
      %strong
        = link_to "真实的自己", "#"
    %p 我已经完成了一点，在你填写之前，先检查检查有没有重复的。
    %p
      %span.prop{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-plus
        赞
      %span.comment{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-comment
        评论
      %span.share{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-share
        分享
      %span
        |
        1小时24分钟前
        |
        成都 · 四川
      = text_area_tag :checkin_comment, "", :placeholder => "添加评论", :size => "255", :style => "margin-bottom:0;display:none;"
      %span.comment-buttons.pull-right{:style=>"padding-right:15px;display:none;"}
        = link_to "取消","javascript:void(0);", :class=>"cancel"
        = link_to "提交","#"
      %div{:style=>"clear:both;"}
    %p
      %span 3条评论 - Cyan Sun、Minjin Lee、Ni Xin
      %span.comment-collapse
        %i.icon-chevron-down.icon-white{:style => "background-color:green; cursor:pointer"}
      .comment-blockquotes{:style=>"clear;both;display:none;"}
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Cyan Sun， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Minjin Lee， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的
          %small Ni Xin， 二小时前
%hr
.feeditem
  .leftside{:style=>"display:table-cell;width:55px"}
    = image_tag "im_facebookprofile.png", :width => 45, :height => 45
  .rightside{:style=>"display:table-cell;vertical-align:top;"}
    %p
      %strong
        = link_to "不喜欢微博纯为加MM","#"
      %code 我是一个工作的成年人
      做了
      %strong
        = link_to "真实的自己", "#"
    %p 我在做一个项目，是尽可能把YouTube上和电影电视剧相关的频道收集起来，包括大电影公司的幕后采访，预告片，特效公司，电视剧预告片等，目的就是给喜欢电影电视剧的G友提供方便，有点delicious书签分享的味道。但由于个人知识有限，希望和广大G+一起来做，假如你知道任何和电影电视剧相关的YouTube频道，请花一点时间填在这个Google 文档里。我已经完成了一点，在你填写之前，先检查检查有没有重复的。
    %p
      >>
      = link_to "不喜欢微博纯为加MM", "#"
      正在挑战
      = link_to "保持苗条", "#"
    %p
      %span.prop{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-plus
        赞
      %span.comment{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-comment
        评论
      %span.share{:style=>"color:#FAA150;cursor:pointer;"}
        %i.icon-share
        分享
      %span
        |
        1天前
        |
        成都 · 四川
      = text_area_tag :checkin_comment, "", :placeholder => "添加评论", :size => "255", :style => "margin-bottom:0;display:none;"
      %span.comment-buttons.pull-right{:style=>"padding-right:15px;display:none;"}
        = link_to "取消","javascript:void(0);", :class=>"cancel"
        = link_to "提交","#"
      %div{:style=>"clear:both;"}
    %p
      %span 12条评论 - Cyan Sun、Minjin Lee、Ni Xin、Sean Song、cx sudo...
      %span.comment-collapse
        %i.icon-chevron-down.icon-white{:style => "background-color:green; cursor:pointer"}
      .comment-blockquotes{:style=>"clear;both;display:none;"}
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small 桑桑， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 我们要相信,我们迟早能上的我们要相信
          %small 老猫麦邪， 二小时前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Cyan Sun， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Minjin Lee， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信
          %small Ni Xin， 二小时前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Cyan Sun， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 這工作非常麻烦！加油！
          %small Minjin Lee， 一分钟前
        %blockquote{:style=>"padding: 0 0 0 10px;margin: 0 4px 10px;"}
          %small 我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的我们要相信,我们迟早能上的
          %small Ni Xin， 二小时前
%hr
  查看更多