<div class="cell" id="center">
  <div class="thirdnav" style="font-size: 16px">
    <div class="item <%= active_li_css(@view_by, "Latest") %>"><%= link_to '新事迹', checkins_path, :class=>"#{params[:action]=='index' ? 'active' : ''}" %></div>
    <div class="last <%= active_li_css(@view_by, "Epic") %>"><%= link_to '好事迹', epic_checkins_path, :class=>"#{params[:action]=='epic' ? 'active' : ''}" %></div>
  </div>
  <br/>
  <br/>
  <% @checkins.each do |checkin| %>
    <%= render :partial => "shared/checkinfeed", :locals => {:checkin => checkin } %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>

