<div class="cell" id="center">
  <div class="thirdnav" style="font-size: 16px">
    <div class="item <%= active_li_css(@view_by, "Latest") %>"><%= link_to '新事迹', checkins_path, :class=>"#{params[:action]=='index' ? 'active' : ''}" %></div>
    <div class="last <%= active_li_css(@view_by, "Epic") %>"><%= link_to '好事迹', epic_checkins_path, :class=>"#{params[:action]=='epic' ? 'active' : ''}" %></div>
  </div>
  <br/>
  <br/>
  <div id="results">
      <% @checkins.each do |checkin| %>
        <%= render :partial => "shared/checkinfeed", :locals => {:checkin => checkin } %>
      <% end %>
      <%= pageless(@num_pages, checkins_path) %>
  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>
<div id="toTop">^ 回顶部</div>
<script type="text/javascript">
  // auto expand textarea
  $('textarea').focus( function () {
    $(this).animate({ height: "40px" });
    $(this).next('.giveprop').show();
    return false;
  });
    $(function() {
        $(window).scroll(function() {
            if($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $('#toTop').click(function() {
            $('body,html').animate({scrollTop:0},800);
        });
    });
</script>
