<!DOCTYPE html>
<html>
<head>
  <title>GoodLife</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-ui' %>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div class="row" id="header">
    <head>
      <div class="logo"><%= link_to image_tag("/images/im_logo_full.png"), root_path %></div>
      <%= render :partial => "shared/navigation" %>
    </head>
  </div>
  <div class="row" id="content">
    <%= yield %>
  </div>
</div>
<div id="clear"></div>
<div class="row" id="footer">
  <% unless Content.all.nil? %>
    <%= navigation :footer %>
  <% end %>
</div>
</body>
</html>
