<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
<div class="pagetitle"><h1>About you</h1></div>
<div class="column grid_10">
  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="header">Your Account</div>

      <div class="formrow">
        <div class="formlabel_wide">Your name:*</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :name %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Email:*</div>
        <div class="forminput" style="width: 450px"><%= f.email_field :email %></div>
      </div>
      <div class="subtext"><i>(leave blank if you don't want to change it)</i></div>
      <div class="formrow">
        <div class="formlabel_wide">Password:*</div>
        <div class="forminput" style="width: 450px"><%= f.password_field :password %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Password Confirmation:*</div>
        <div class="forminput" style="width: 450px"><%= f.password_field :password_confirmation %></div>
      </div>
      <%if !resource.encrypted_password.blank? %>
        <div class="subtext"><i>(we need your current password to confirm your changes)</i></div>
        <div class="formrow">
          <div class="formlabel_wide">Current Password:*</div>
          <div class="forminput" style="width: 450px"><%= f.password_field :current_password %></div>
        </div>
      <%end%>
      <div class="formrow">
        <div class="formlabel_wide">Location(city, state):</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :location %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Phone number:</div>
        <div class="forminput" style="width: 450px"><%= f.text_field :phone_number %></div>
      </div>
      <div class="header">About you</div>

      <div class="formrow">
        <div class="formlabel_wide">I am...</div>
        <div class="forminput" style="width: 450px"><%= f.select :category, User::CATEGORIES %></div>
      </div>
      <div class="formrow">
        <div class="formlabel_wide">Share what inspires you:</div>
        <div class="forminput" style="width: 450px"><%= f.text_area :self_description %></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="header">Notification</div>

      <div class="formrow" style="height:25px;">
        <div class="forminput" style="width: 35px"><%= f.check_box :prop_notification %></div>
        <div class="formlabel" style="width: 450px;">Get an e-mail when your feats get props</div>
      </div>
      <div class="formrow" style="height:25px;">
        <div class="forminput" style="width: 35px"><%= f.check_box :checkin_notification %></div>
        <div class="formlabel" style="width: 450px;">Get an e-mail when feats you've propped get more props</div>
      </div>
      <div class="formrow" style="height:25px;">
        <div class="forminput" style="width: 35px"><%= f.check_box :challenge_notification %></div>
        <div class="formlabel" style="width: 450px;">Get updates about challenges</div>
      </div>

      <div class="header">Option</div>

      <div class="formrow">
        <div class="formlabel_wide">Your privacy settings for checkins:</div>
        <div class="forminput" style="width: 450px"><%= f.select :checkin_privacy, User::PRIVACY, :selected => 3 %></div>
      </div>

      <div class="buttoncontainer">
        <%= f.submit "Save" %>
        <div style="float:right;">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</div>
      </div>

    <% end %>

  </div>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>
