<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
<div class="cell" id="center">
  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="header">我的帐户</div>
      <div>
        <%= f.label "姓名:*" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label "电子邮件:*" %>
        <%= f.email_field :email %>
      </div>
      <div class="subtext" style="color: #9acd32;"><i>(如果不更改密码，此项可以留空)</i></div>
      <div>
        <%= f.label "密码:*" %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label "密码确认:*" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%if !resource.encrypted_password.blank? %>
        <div class="subtext" style="color: #9acd32;"><i>(如对资料做修改，此项必填)</i></div>
        <div>
          <%= f.label "当前密码:*" %>
          <%= f.password_field :current_password %>
        </div>
      <%end%>
      <div>
        <%= f.label "地址(省份, 城市):" %>
        <%= f.text_field :location %>
      </div>
      <div>
        <%= f.label "电话:" %>
        <%= f.text_field :phone_number %>
      </div>
      <div>
        <%= f.label "头像:" %>
        <%= f.file_field :avatar %>
      </div>
      <div>

      </div>
      <br/>
      <br/>
      <div class="header">关于我</div>
      <div>
        <%= f.label "我是..." %>
        <%= f.select :category, User::CATEGORIES %>
      </div>
      <div>
        <%= f.label "Share what inspires you:" %>
        <%= f.text_area :self_description %>
      </div>
      <br/>
      <br/>
      <div class="header">提醒</div>

      <div>
        <%= f.check_box :prop_notification %>
        <%= f.label "Get an e-mail when your feats get props" %>
      </div>
      <div>
        <%= f.check_box :checkin_notification %>
        <%= f.label "Get an e-mail when feats you've propped get more props" %>
      </div>
      <div>
        <label><%= f.check_box :challenge_notification %>Get updates about challenges</label>

      </div>
      <br/>
      <br/>
      <div class="header">其他</div>
      <div>
        <%= f.label "Your privacy settings for checkins:" %>
        <%= f.select :checkin_privacy, User::PRIVACY, :selected => 3 %>
      </div>

      <div class="buttoncontainer">
        <%= f.submit "更改" %>
        <div style="float:right;">不喜欢GoodLife? <%= link_to "注销帐户", registration_path(resource_name), :confirm => "确定要注销帐户?", :method => :delete %>.</div>
      </div>

    <% end %>

  </div>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>
