<div id="sign_up_content">
  <div class="close" onclick="javascript:$('#dialog-form').remove();">x</div>
  <div class="title">Welcome to Goodlife</div>
  <div class="header">
    Get motivated to do good every day.<br/>
    Log in to start earning points for every feat you do. <br/><br/>
    <span class="title"><%= link_to "Explore our site...", checkins_path %></span>
  </div>
  <div class="title">
    <span>Have a Douban or Weibo account? <br/>You can sign up with one step.</span>
    <div style="float:right">
      <div><%= link_to image_tag('douban.png', :alt=>'douban', :width => 120), user_omniauth_authorize_path(:douban)%></div>
      <div><%= link_to image_tag('tsina.png', :alt=>'sina weibo', :width => 120), user_omniauth_authorize_path(:tsina)%></div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="formrow">
      <div class="formlabel"><%= f.label "Your name:*" %></div>
      <div class="forminput"><%= f.text_field :name %></div>
    </div>
    <div class="formrow">
      <div class="formlabel"><%= f.label "Your email:*" %></div>
      <div class="forminput"><%= f.email_field :email %></div>
    </div>
    <div class="formrow">
      <div class="formlabel"><%= f.label "I am:" %></div>
      <div class="forminput"><%= f.select :category, User::CATEGORIES.collect{|key, value| [value,key]} %></div>
    </div>
    <% if resource.password_required? %>
      <div class="formrow">
        <div class="formlabel"><%= f.label "Password:*" %></div>
        <div class="forminput"><%= f.password_field :password %></div>
      </div>
      <div class="formrow">
        <div class="formlabel"><%= f.label "Password confirmation:*" %></div>
        <div class="forminput"><%= f.password_field :password_confirmation %></div>
      </div>
    <%end%>
    <p><%= f.submit "Sign up" %></p>
  <% end %>

  <%= render :partial => "users/shared/links" %>
</div>